keybinds {
  normal {
    unbind "h"
    unbind "j"
    unbind "k"
    unbind "l"
  }

  shared {
    unbind "Alt f"
    unbind "Alt b"
    unbind "Alt h"
    unbind "Alt j"
    unbind "Alt k"
    unbind "Alt l"

    unbind "Ctrl l"

    bind "Ctrl Left"  { MoveFocus "Left"; }
    bind "Ctrl Down"  { MoveFocus "Down"; }
    bind "Ctrl Up"    { MoveFocus "Up"; }
    bind "Ctrl Right" { MoveFocus "Right"; }

    bind "Ctrl h"     { MoveFocus "Left"; }
    bind "Ctrl j"     { MoveFocus "Down"; }
    bind "Ctrl k"     { MoveFocus "Up"; }
  }
}

default_mode "normal"
theme "catppuccin-frappe"
